# coding: utf-8
{% include 'header.jinja2' %}

{%- set service_name = service_name %}
{%- set version = version %}
{%- set api_name = api_name %}
{%- set async_mode = async_mode %}

from httpx import Response
from typing import Any

from restclient.client import RestClient

{% if models %}
from {{ base_import }}.{{ service_name|to_snake_case }}.models.api_models import (
    {% for model in models %}
    {{ model }},
    {% endfor %}
)
{% endif %}


class {{ api_name|to_snake_case|to_camel_case }}Api:

    def __init__(self, api_client: RestClient) -> None:
        self.api_client = api_client

    {%- for op in operations %}
{%- set method = op.method %}
{%- set path = op.path %}
{%- set raw_path = op.raw_path %}
{%- set summary = op.summary %}
{%- set responses = op.responses %}
{%- set success_response = op.success_response %}
{%- set request_body = op.request_body_model %}
{%- set parameters = op.parameters %}
{%- set path_parameters = parameters.get('path', []) %}
{%- set query_parameters = parameters.get('query', []) %}
{%- set headers = parameters.get('header', []) %}

    {% if async_mode %}async {% endif %}def {{ method }}_{{ path|to_snake_case }}(
        self,
        {%- if request_body %}
        {{ request_body|to_snake_case }}: {{ request_body }}, # noqa: E501
        {%- endif %}
        {%- for param in path_parameters + query_parameters + headers if param.get('required') %}
        {{ param.get('python_name') }}: {{ param.get('type') }},
        {%- endfor %}
        {%- for param in path_parameters + query_parameters + headers if not param.get('required') %}
        {{ param.get('python_name') }}: {{ param.get('type') }} | None = None,
        {%- endfor %}
        **kwargs: Any,
    ) -> {{ success_response if success_response else 'Response' }}:
        """
        {{ summary.strip() | wordwrap(width=120) if summary else 'No summary description' }}.

        Args:
            {%- if request_body %}
            {{ request_body|to_snake_case }}({{ request_body }}): ...
            {%- endif %}
            {%- for param in path_parameters + query_parameters + headers if param.get('required') %}
            {{ param.get('python_name') }}({{ param.get('type')}}{% if param.get('required')%}, required{% else %}, optional{% endif %}): {{ param.get('description', '') | wordwrap(width=50) if param.get('description') else '...' }}
            {%- endfor %}
            {%- for param in path_parameters + query_parameters + headers if not param.get('required') %}
            {{ param.get('python_name') }}({{ param.get('type')}} | None{% if param.get('required')%}, required{% else %}, optional{% endif %}): {{ param.get('description', '') | wordwrap(width=50) if param.get('description') else '...' }}
            {%- endfor %}
            **kwargs: Arguments supported by the httpx library (data, files, headers, etc.)

        Returns:
            {{ success_response if success_response else 'None' }}: ...
        """  # noqa: D205,E501

        response = {%- if async_mode %}await {% endif %}self.{{ method }}_{{ path|to_snake_case }}_with_http_info(
            {%- if path_parameters %}
            {%- for path_param in path_parameters %}
            {{ path_param.get('python_name') }}={{ path_param.get('python_name') }},
            {%- endfor %}
            {%- endif %}
            {%- if request_body %}
            {{ request_body|to_snake_case }}={{ request_body|to_snake_case }}, # noqa: E501
            {%- endif %}
            {%- if query_parameters %}
            {%- for query_param in query_parameters %}
            {{ query_param.get('python_name') }}={{ query_param.get('python_name') }},
            {%- endfor %}
            {%- endif %}
            {%- if headers %}
            {%- for header in headers %}
            {{ header.get('python_name') }}={{ header.get('python_name') }},
            {%- endfor %}
            {%- endif %}
            **kwargs,
        )
        {%- if success_response %}
        return {{ success_response }}.model_validate_json(response.text)
        {%- else %}
        return response
        {%- endif %}


    {% if async_mode %}async {% endif %}def {{ method }}_{{ path|to_snake_case }}_with_http_info(
        self,
        {%- if request_body %}
        {{ request_body|to_snake_case }}: {{ request_body }}, # noqa: E501
        {%- endif %}
        {%- if path_parameters %}
        {%- for path_param in path_parameters %}
        {{ path_param.get('python_name') }}: {{ path_param.get('type') }}{% if not path_param.get('required') %} | None{% endif %}{% if not path_param.get('required') %} = None{% endif %},
        {%- endfor %}
        {%- endif %}
        {%- if query_parameters %}
        {%- for query_param in query_parameters %}
        {{ query_param.get('python_name') }}: {{ query_param.get('type') }}{% if not query_param.get('required') %} | None{% endif %}{% if not query_param.get('required') %} = None{% endif %},
        {%- endfor %}
        {%- endif %}
        {%- if headers %}
        {%- for header in headers %}
        {{ header.get('python_name') }}: {{ header.get('type') }}{% if not header.get('required') %} | None{% endif %}{% if header.get('required') %}{% else %} = None{% endif %},
        {%- endfor %}
        {%- endif %}
        **kwargs: Any,
    ) -> Response:
        """
        {{ summary.strip() | wordwrap(width=120) if summary else 'No summary description' }}.

        Args:
            {%- if request_body %}
            {{ request_body|to_snake_case }}({{ request_body }}): ...
            {%- endif %}
            {%- for param in path_parameters + query_parameters + headers %}
            {{ param.get('python_name') }}({{ param.get('type')}}{% if param.get('required')%}, required{% else %}, optional{% endif %}): {{ param.get('description', '') | wordwrap(width=50) if param.get('description') else '...' }}
            {%- endfor %}
            **kwargs: Arguments supported by the httpx library (data, files, headers, etc.)

        Returns:
            Response: ...
        """  # noqa: D205,E501
        {%- if query_parameters %}
        # process the query parameters
        params_map = {
            {%- for query_param in query_parameters %}
            "{{ query_param.get('name') }}": {{ query_param.get('python_name') }},
            {%- endfor %}
        }
        params = {k: v for k, v in params_map.items() if v}
        {%- endif %}
        {%- if headers %}
        # process the header parameters
        headers_map = {
            {%- for header in headers %}
            "{{ header.get('name') }}": {{ header.get('python_name') }},
            {%- endfor %}
        }
        headers = {k: str(v) for k, v in headers_map.items() if v}
        headers.update(kwargs.pop("headers", {}))
        {%- else %}
        headers = kwargs.pop("headers", {})
        {%- endif %}
        response = {% if async_mode %}await {% endif %}self.api_client.{{ method }}(
            {%- if path %}
            path=f"{{ path }}",
            {%- endif %}
            {%- if request_body %}
            json={{ request_body|to_snake_case }}.model_dump(mode="json", exclude_none=True, by_alias=True), # noqa: E501
            {%- endif %}
            {%- if query_parameters %}
            params=params,
            {%- endif %}
            headers=headers,
            **kwargs,
        )
        return response
        {%- endfor %}
